LSPORT_USR=tombow3455@gmail.com
LSPORT_PW=43SDLK4sd3
LSPORT_PACKG_ID=3066
LSPORT_HOST=inplay-rmq.lsports.eu

REDIS_USER=default
REDIS_PASSWORD=
REDIS_HOST=localhost
REDIS_PORT=6379

REDIS_QUEUE_NAME=lsport.queues

PORT=3001